[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pika = "==0.12.0"

[dev-packages]
pytest = "*"
"flake8" = "*"
twine = "*"
pikatools = {path = "."}
black = "*"
isort = {extras = ["pipfile"],version = "*"}
pre-commit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
